# Cloudflare
CLOUDFLARED_TOKEN=
DOMAIN_NAME=futbalo.eu

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-in-production
POSTGRES_DB=futbalo

# Auth Service
JWT_SECRET=change-me-in-production

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@futbalo.eu
PGADMIN_DEFAULT_PASSWORD=change-me-in-production
